stamp-*
config.h.in
config.h
averclone/
deps.txt
deps.zip
test-driver
*.apk
*.a
*.swo
*.swp
*.trs
*.log
*~
thumbs.db
autom4te.cache
*.o
*.exe
*.dll
scripts/blitwizard*
scripts/tarball/
scripts/ssetest
scripts/ssetest.c
scripts/box2dforwindows.cmake
src/blitwizard
src/include
.deps
ltmain.sh
scripts/.buildinfo
scripts/.depsarebuilt_flags
scripts/.depsarebuilt_luatarget
libtool
m4/*
!m4/ac_define_dir.m4
confdefs.h
config.ld
deps
autom4te.cache/
/game.lua
/Makefile
src/.deps/
src/Makefile
src/tests/Makefile
config.status
config.log
config.guess
config.sub
configure
compile
Makefile.in
depcomp
install-sh
missing
aclocal4
aclocal.m4
cov-int/
blitwizard-cov.tgz
