-- LDoc configuration file
sort_modules=true 
wrap = true
sort = true
--[[function(a, b)
    print("comparing: " .. a .. "," .. b)
    return b > a
end]]
merge = true
file = { INSERT_FILES_HERE }
title = "Blitwizard API reference"
project = "blitwizard"
dir = "docs"
description = [[
Cross-platform 2d/3d Lua game engine
]]


